
body{
    background: rgb(239 215 215 / 76%);
    padding: 1em;
   
}
header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  
  
}
h1, h2, h3{
    color: white;
    margin: 1em 1em 1em 0;
  
    text-shadow: 2px 1px 3px rgba(34, 50, 109, 0.637), 1px 1px 2px #b94242d3;
    font-family: 'Anton', sans-serif;
}
p, div{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 2px 1px 3px rgba(34, 50, 109, 0.637), 1px 1px 2px #b94242d3;
}

model-viewer{
width: 100%;
height: 100%;
}
.model-cont{
    position: absolute;
    z-index: -1;
    width: calc(100vw - 2em);
    height: calc(100vw - 2em);
    top: -10vw;
}

/* Logo */
.header-logo-border{
    border: 3px solid white;
    margin: 0 1em 1em 0;
}
.logo{
    background-color: #000;
    border: 1px solid black;
    
    
}
.logo__svg{
    width: 15vw;
}
.logo__svg svg path{
    stroke: rgb(253, 253, 253);
    fill:red;
    stroke-width: 1.5px;
}

.logo__text{
    font-size: 2.5vw;
    color: white;
    margin:0 auto 4px;
    width: fit-content;

    font-family: 'Anton', sans-serif;
}

/* Menu */
.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 1em 0.2em;
}
.menu__item{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-shadow: 2px 1px 3px rgba(34, 50, 109, 0.637), 1px 1px 2px #b94242d3;
    text-decoration: none;
}
.menu__item:hover{
    color: rgb(0, 0, 0);
    text-shadow: 2px 1px 3px rgb(255, 255, 255), 1px 1px 0px #ff07f385;
}


/* Slider */
.slider{
    position: relative;
    /* max-width: 450px; */
    margin: auto;
    overflow: hidden;
    
}
.slider__buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:100%;
    top:40%;
    z-index: 1;
}

.slider__buttons-prev{
    color: white;
    width:3em;
    height: 3em;
    cursor: pointer;
}
.slider__buttons-prev svg{
    opacity: 0.4;

}
.slider__buttons-prev:hover svg{
   opacity: 1;

}
.slider__buttons-next{
    color: white;
    width:3em;
    height: 3em;
    cursor: pointer;
}
.slider__buttons-next svg{
    opacity: 0.4;

}
.slider__buttons-next:hover svg{
    opacity: 1;
}

.slider__slides-container{
    display: flex;
    width: 300%;
    height: 100%;
    position: relative;
   transition: all 0.5s;
}

.slides{
    width: 100%;
    display: grid;
    place-items: center;
}
.slides img{
    width: 100%;
}

.slider__text-overlay{
    position: absolute;
    top: 30%;
    left:10%;
    font-size: 4vw;
}
/* Card */
.card{
    display: flex;
    flex-direction: column;
    text-shadow: 2px 1px 3px rgba(34, 50, 109, 0.637), 1px 1px 2px #b94242d3;
   width:clamp(200px, 30vw, 400px);;
   min-width: 100px;
    padding: 0.5em;
    background-image: linear-gradient(
338deg, #12294a41, #f2e0e0);
    border-radius: 0.5em;
    font-family: 'Anton', sans-serif;
    margin:0.2em;
    box-shadow: 2px 2px 8px rgb(149 103 118), 1px 1px 2px #2348ff59;
}
.card-img{
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.card-img img{
    border-radius: 0.5em;
    
}
.card-title{
    font-size: clamp(2em, 2vw, 4em);
    position: absolute;
    padding: 2.5em 0.5em 0 0.5em;
    color: white;
}
.card-text{
    font-size: clamp(1em, 0.8vw, 2em);
    padding: 1em 0em;
    text-shadow: none;
}
/* Featured */
.featured__card-holder{
display: flex;
justify-content: space-around;
flex-wrap: wrap;

}